@use "./reset";
@use "./variables/global";
@use "./themes/light";
@use "./themes/dark";

.app {
  min-height: 100vh;
  font: var(--font-m);
  background-color: var(--bg-color);
  color: var(--primary-color);
}

.page {
  display: flex;
}

.sidebar {
  margin-right: 20px;
  height: calc(100vh - var(--navbar-height));
}

.page-content {
  width: 100%;
  flex-grow: 1;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.space-1 {
  padding-top: var(--space-1);
}

@media (max-width: 1240px) {
  .container {
    max-width: 960px;
  }
}
