.themeSwitcher {
  color: var(--inverted-primary-color);
  background-color: rgba(255, 255, 255, 0.7) !important;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}
