.app.light {
  --bg-color: #fff;
  --light-bg-color: rgba(255, 255, 255, 0.1);
  --loader-bg-color: rgba(255, 255, 255, 0.7);
  --primary-color: black;
  --secondary-color: gray;
  --inverted-bg-color: rgb(26, 25, 68);
  --light-inverted-bg-color: rgba(26, 25, 68, 0.1);
  --inverted-primary-color: white;
  --inverted-secondary-color: yellow;
  --sidebar-bg-color: #999;
  --button-bg-color: rgb(0, 164, 164);
  --button-color: #fff;
}
